// Styles for Physio Doering
.physio-address {
    color: $theme-color-2;
    font-weight: 700;
}
.btn-terminreservierung {
    color: white;
    background-color: $theme-color-2;
    border-color: $theme-color-2;
}
#map {
    margin-top: 1em;
}
#portrait {
    margin-bottom: 2em;
}
